$font-family1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family2: Verdana, Geneva, Tahoma, sans-serif;
$font-family3: 'Lexend', sans-serif;
$font-family4: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-family5: 'Nunito Sans', sans-serif;

$color1: #263d5a;
$color2: white;
$color3: rgb(176, 175, 175);
$color4: #12265a;
$color5: cornflowerblue;
$color6: #ffc85b;
$color7: gray;
$color8: aliceblue;